@model BRSK.Models.Model
@{
    ViewBag.Title = Model.Name;
}
<h2>Авмтомобиль @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.ModelId</dd>
       
    </dl>
</div>
